<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.ahao.commerce.market.infrastructure.repository.impl.mybatis.mapper.MemberPointMapper">
    <update id="increasePoint">
        update member_point set point = #{oldPoint} + #{increasedPoint} where user_id = #{userId} and point = #{oldPoint}
    </update>
    <select id="selectOneByUserId" resultType="moe.ahao.commerce.market.infrastructure.repository.impl.mybatis.data.MemberPointDO">
        select * from member_point where user_id = #{userId}
    </select>
</mapper>
