<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.ahao.commerce.fulfill.infrastructure.repository.impl.mybatis.mapper.OrderFulfillLogMapper">
    <select id="selectListByOrderIdAndStatus" resultType="moe.ahao.commerce.fulfill.infrastructure.repository.impl.mybatis.data.OrderFulfillLogDO">
        select * from order_fulfill_log where order_id = #{orderId} and current_status = #{status}
    </select>
</mapper>
