<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.ahao.commerce.order.infrastructure.repository.impl.mybatis.mapper.OrderAutoNoMapper">
    <update id="updateMaxIdByBizTag">
        update order_auto_no set max_id = max_id + step where biz_tag = #{bizTag}
    </update>
    <update id="updateMaxIdWithStepByBizTag">
        UPDATE order_auto_no SET max_id = max_id + #{step} where biz_tag = #{bizTag}
    </update>
    <select id="selectOneByBizTag"
            resultType="moe.ahao.commerce.order.infrastructure.repository.impl.mybatis.data.OrderAutoNoDO">
        select * from order_auto_no where biz_tag = #{bizTag}
    </select>
    <select id="selectBizTagList" resultType="java.lang.String">
        select biz_tag from order_auto_no
    </select>
</mapper>
